@{
    ViewData["Title"] = "The Library";
}

<div class="container text-center mt-5">
    <h1 class="display-4">Welcome to The Library</h1>
    <p class="lead">Explore the world of books and knowledge.</p>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img src="/Assets/library-img-small.jpg" class="img-fluid rounded mb-3" alt="Library Image" width="300">
        </div>
    </div>
    <p>Discover a vast collection of books and dive into captivating stories.</p>
    <p>Expand your horizons and embark on literary adventures.</p>
    <a href="/Customers" class="btn btn-primary btn-lg mt-3">Explore Customers</a>
    <a href="/Customers/Search" class="btn btn-primary btn-lg mt-3">Search Specific Customer</a>
</div>